AWS_ACCESS_KEY = "{{.AWS_ACCESS_KEY}}"
AWS_SECRET_KEY = "{{.AWS_SECRET_KEY}}"
AWS_IAM_PROFILE = "{{.AWS_IAM_PROFILE}}"
AWS_USER_IDS = [{{range $index, $element := .AWS_USER_IDS}}{{if $index}},{{end}}"{{$element}}"{{end}}]
AWS_AMI_NAME = "{{.AWS_AMI_NAME}}"
AWS_INSTANCE_TYPE = "{{.AWS_INSTANCE_TYPE}}"
AWS_REGION = "{{.AWS_REGION}}"
AWS_EC2_AMI_NAME_FILTER = "{{.AWS_EC2_AMI_NAME_FILTER}}"
AWS_EC2_AMI_ROOT_DEVICE_TYPE = "{{.AWS_EC2_AMI_ROOT_DEVICE_TYPE}}"
AWS_EC2_AMI_VIRTUALIZATION_TYPE = "{{.AWS_EC2_AMI_VIRTUALIZATION_TYPE}}"
AWS_EC2_AMI_OWNERS = [{{range $index, $element := .AWS_EC2_AMI_OWNERS}}{{if $index}},{{end}}"{{$element}}"{{end}}]
AWS_EC2_SSH_USERNAME = "{{.AWS_EC2_SSH_USERNAME}}"
AWS_EC2_INSTANCE_USERNAME = "{{.AWS_EC2_INSTANCE_USERNAME}}"
AWS_EC2_INSTANCE_USERNAME_HOME = "{{.AWS_EC2_INSTANCE_USERNAME_HOME}}"
AWS_EC2_INSTANCE_USERNAME_PASSWORD = "{{.AWS_EC2_INSTANCE_USERNAME_PASSWORD}}"