AWS_REGION                   = "{{.Cloud.AWS_REGION}}"
AWS_INSTANCE_TYPE            = "{{.Cloud.AWS_INSTANCE_TYPE}}"
AWS_EC2_INSTANCE_VOLUME_TYPE = "{{.Cloud.AWS_EC2_INSTANCE_VOLUME_TYPE}}"
AWS_EC2_INSTANCE_VOLUME_SIZE = {{.Cloud.AWS_EC2_INSTANCE_VOLUME_SIZE}}
AMI_ID                       = "{{.Cloud.AMI_ID}}"