AWS_REGION                   = "{{.Cloud.Required.AWS_REGION}}"
AWS_INSTANCE_TYPE            = "{{.Cloud.Required.AWS_INSTANCE_TYPE}}"
AMI_ID                       = "{{.Cloud.Required.AMI_ID}}"
AWS_EC2_INSTANCE_VOLUME_TYPE = "{{.Cloud.Optional.AWS_EC2_INSTANCE_VOLUME_TYPE}}"
AWS_EC2_INSTANCE_VOLUME_SIZE = {{.Cloud.Optional.AWS_EC2_INSTANCE_VOLUME_SIZE}}