AWS_ACCESS_KEY = "{{.Cloud.Required.AWS_ACCESS_KEY}}"
AWS_SECRET_KEY = "{{.Cloud.Required.AWS_SECRET_KEY}}"
AWS_IAM_PROFILE = "{{.Cloud.Required.AWS_IAM_PROFILE}}"
AWS_USER_IDS = [{{range $index, $element := .Cloud.Required.AWS_USER_IDS}}{{if $index}},{{end}}"{{$element}}"{{end}}]
AWS_AMI_NAME = "{{.Cloud.Required.AWS_AMI_NAME}}"
AWS_INSTANCE_TYPE = "{{.Cloud.Required.AWS_INSTANCE_TYPE}}"
AWS_REGION = "{{.Cloud.Required.AWS_REGION}}"
AWS_EC2_AMI_NAME_FILTER = "{{.Cloud.Required.AWS_EC2_AMI_NAME_FILTER}}"
AWS_EC2_AMI_ROOT_DEVICE_TYPE = "{{.Cloud.Required.AWS_EC2_AMI_ROOT_DEVICE_TYPE}}"
AWS_EC2_AMI_VIRTUALIZATION_TYPE = "{{.Cloud.Required.AWS_EC2_AMI_VIRTUALIZATION_TYPE}}"
AWS_EC2_AMI_OWNERS = [{{range $index, $element := .Cloud.Required.AWS_EC2_AMI_OWNERS}}{{if $index}},{{end}}"{{$element}}"{{end}}]
AWS_EC2_SSH_USERNAME = "{{.Cloud.Required.AWS_EC2_SSH_USERNAME}}"
AWS_EC2_INSTANCE_USERNAME = "{{.Cloud.Required.AWS_EC2_INSTANCE_USERNAME}}"
AWS_EC2_INSTANCE_USERNAME_HOME = "{{.Cloud.Required.AWS_EC2_INSTANCE_USERNAME_HOME}}"
AWS_EC2_INSTANCE_USERNAME_PASSWORD = "{{.Cloud.Required.AWS_EC2_INSTANCE_USERNAME_PASSWORD}}"